.tab-selectors-wrapper {
  @apply flex h-20 items-center border-b-2 border-app_primary_light gap-4;
  width: 95vw;
  margin: 1rem auto;
}

.total-avbl-res {
  @apply text-xl font-bold text-app_primary_dark flex items-center gap-4;
  width: 20%;
}

.tab-selection {
  @apply flex gap-4 justify-end;
  width: 60%;
}

.tab {
  @apply text-lg font-semibold text-app_primary_light hover:text-app_primary_dark py-2 hover:cursor-pointer;
}

.active-tab {
  @apply border-b-2 border-app_primary_orange;
}

.filters-section {
  @apply flex justify-end items-center gap-4;
  width: 20%;
}

.filters-btn {
  @apply flex items-center justify-center gap-2 text-lg text-app_primary_light w-32;
  @apply bg-white border-2 border-app_primary_light p-2 rounded-md;
  @apply hover:bg-app_primary_light hover:text-white;
}
