.restaurant-details-wrapper {
  width: 95vw;
  margin: 2rem auto;
  @apply border-2 p-8 shadow-md rounded-md;
}

.details-loader {
  height: 70vh;
  @apply flex items-center justify-center gap-4;
}

.name-heart-wrapper {
  @apply flex justify-between;
}

.cuisines-area-ratings-wrapper {
  @apply flex justify-between items-center;
}

.cuisines-area-wrapper {
  @apply text-gray-500 my-4;
}

.reting-info {
  @apply flex;
}

.ratings-wrapper {
  @apply flex flex-col border-2 border-green-500 p-4 rounded-md items-center;
}

.fee-details {
  @apply flex items-center gap-2 text-gray-500;
}

.primary-info-footer {
  @apply flex gap-8 font-bold text-app_primary_dark;
}

.food-items-wrapper {
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  gap: 1rem;
}

.food-item-name-details-img-wrapper {
  @apply flex items-center justify-between;
  @apply border-2 p-4 shadow-md rounded-md;
}

.food-item-img-wrapper > img {
  height: 150px;
  width: 200px;
}
