.empty-cart-wrapper {
  @apply shadow-lg w-5/6 mx-auto my-8 rounded-lg p-8 flex flex-col gap-4 items-center;
}

.main-empty-header {
  @apply font-bold text-xl text-app_primary_light;
}

.sub-empty-header {
  @apply font-semibold text-lg text-app_primary_light;
}

.emprty-cart-img-wrapper {
  @apply w-3/6 flex items-center mx-auto h-72 justify-center;
}

.emprty-cart-img-wrapper > img {
  height: inherit;
  width: inherit;
  object-fit: cover;
}

.empty-cart-redirection-btn {
  @apply h-12 w-56  rounded-lg font-semibold bg-app_primary_light text-white hover:bg-app_primary_dark;
}

.cart-info-wrapper {
  width: 95vw;
  margin: 2rem auto;
  @apply border-2 p-8 shadow-md rounded-md;
}

.food-item-img-wrapper > img {
  height: 150px;
  width: 200px;
}

.left-side-info {
  width: 65%;
}

.right-side-info {
  width: 35%;
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  @apply text-gray-500 font-semibold py-12 my-2;
}

.img-btn-wrapper {
  width: 20%;
}

.name-veg-wrapper {
  width: 80%;
}
